@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.card-container{
    height: 350px;
     margin-top: 50px;
}
.container{
    justify-content: center;
    align-items: center;
    position: relative;
}
.card{
    margin: 0 auto;
    width: 250px;
    height: 350px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card-header{
    border-bottom: none;
    background: white;
}
.card-icon{
    font-size: 50px;
}
.card-body{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
}
#generate{
    width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#generate:hover{
    background-color: slateblue;
}
.card-footer{
    border-top: none;
    background: white;
}

#card-second{
    position: absolute;

}

#card-first{
    position: absolute;
}

.card-flip {
    animation-name: card-flip;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 1, 0.51, 1.18);
}

@keyframes card-flip {
  0%    {transform: translateX(0) rotate(0); z-index: 1}
  50%   {transform: translateX(310px) rotate(16deg);z-index: 1}
  100%  {transform: translateX(0) rotate(0); z-index: 0}
}