@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.container{
    justify-content: center;
    align-items: center;
}
.card{
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
    height: 350px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    background: white;
}
.card-header{
    border-bottom: none;
    background: white;
}
.card-icon{
    font-size: 50px;
}
.card-body{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
}
#generate{
    width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#generate:hover{
    background-color: slateblue;
}
.card-footer{
    border-top: none;
    background: white;
}